<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU16 technoforge</title>
    <link href="{% static "css/base_style.css" %}" rel="stylesheet">
</head>
    <header>
        <div id="header_box">
            <div id="header_left_column">
                <div id="logo-img" class="block">
                    <a href="{% url "index" %}">
                    <img src="{% static './img/news_images/forge.png' %}">
                    </a>
                </div>
                <div id="logo-text" class="block">
                    <a href="{% url "index" %}">PTU16 TechnoForge</a></p>
                </div>
                <div id="second" class="block">
                    <a href="{% url "user_blog" %}">My Blog</a>
                </div>
                <div id="second" class="block">
                    <a href="{% url "user_profile" %}">My Profile</a>
                </div>
                <div id="second" class="block">
                    <a href="{% url "user_profile" %}">Archive</a>
                </div>
                
            </div>
            <div id="header_right_column">
                <div class="login_button">
                <a href="{% url "login" %}">Login</a>
                </div>
                <div class="register_button">
                <a href="{% url "register" %}">Create User</a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 PTU16 TechnoForge</p>
    </footer>
</html>