body { 
    font-family: sans-serif; 
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background-color: #333333;
    color: #afafaf;
}
header a{
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover{
    color: #ffffff;
}
header div.logo-img {
    justify-content: center;
}
footer {
    background-color: #afafaf;
}
h1, h2 { 
    font-size: 28px;
}
p {
    padding: 0 1rem;
    margin: 0.5rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 3rem;
}
#header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header_left_column {
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo-img {
    float: left;
    padding-left: 0.5rem;
}
#logo-text {
    float: left;
    padding-inline: 1rem;
}
#first {
    float: left;
    padding-inline: 1rem;
}
#second {
    float: left;
    padding-inline: 1rem;
}
#header_right_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
}
.login_button:hover, .register_button:hover {
    color: #ffffff;
}
.login_button {
    padding: 0.5rem;
    margin-inline: 0.5rem;
}
.register_button {
    padding: 0.5rem;
    margin-inline: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(163, 165, 167);
    color: #333333 ;
}


#index_content {
    width: 45%;
    margin-left: 10%;
    float: left;
}
#index_sidebar {
    width: 25%;
    margin-right: 10%;
    float: right;
}
#news {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user_blog_background {
    width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#user_avatar {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    top:-50px;
    padding-left: 1rem;
}
.rounded-image {
    border-radius: 10%;
}
#user_title_text {
    float: left;
    padding-left: 3rem;
}
#user_blog_content_navigation_buttons {
    display: flex;
    flex-direction: row;
}
#user_content_button {

    color: gray;
    padding: 2rem;
    border-radius: 20%;
    margin-inline: 1rem;
}