/* base.html */

/* Body */
body { 
    font-family: sans-serif; 
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header & Footer */
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background-color: #333333;
    color: #afafaf;
}
header a{
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover{
    color: #ffffff;
}
header div.logo-img {
    justify-content: center;
}
footer {
    background-color: #afafaf;
}
#header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header_left_column {
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo-img {
    float: left;
    padding-left: 0.5rem;
}
#logo-text {
    float: left;
    padding-inline: 1rem;
}
#first {
    float: left;
    padding-inline: 1rem;
}
#second {
    float: left;
    padding-inline: 1rem;
}
#header_right_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
}
.login_button {
    padding: 0.5rem;
    margin-inline: 0.5rem;
}
.login_button:hover {
    color: #ffffff;
}
.register_button {
    padding: 0.5rem;
    margin-inline: 0.5rem;
    border-radius: 0.25rem;
    background-color: #666699;
}
.register_button:hover {
    background-color: #77779b;
    color: #ffffff;
}

/* Main */
main {
    flex-grow: 1;
}
#index_content {
    width: 45%;
    margin-left: 10%;
    float: left;
}
#index_sidebar {
    width: 25%;
    margin-right: 10%;
    float: right;
}
#news {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Elements */
h1, h2 { 
    font-size: 28px;
}
p {
    padding: 0 1rem;
    margin: 0.5rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 3rem;
}

/* ??? directory */

/* Styling the form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Styling form input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #181717;
    border-radius: 5px;
}

#id_birthday {
    display: flex;
    flex-direction: column;
}

#id_birthday_day,
#id_birthday_month,
#id_birthday_year {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #181717;
    border-radius: 5px;
}

/* Styling the submit button */
input[type="submit"] {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling error messages */
.errorlist {
    color: #FF0000;
    margin: 0;
    padding: 0;
}

/* registration folder*/

/* margins for registration folder*/
.registration_folder_margins {
    margin: 1rem;
}

/* login.html */
#login_form_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#login_form_forgotten_password {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* register.html */
#register_page_form_box {
    margin-bottom: 3rem;
}

/* technoforge folder */

/* user_profile */
#user_profile_page {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
#user_profile_page h3 {
    border-bottom: 1px solid #afafaf;
    float: left;
}
#user_profile_avatar {
    display: flex;
    flex-direction: column;
    float: left;
    width: 250px;
    height: 250px;
    padding-inline: 1rem;
}
#user_profile_avatar button {
    margin-top: 1rem;
    width: 100px;
}
#user_profile_text {
    display: flex;
    flex-direction: column;
    float: left;
}
.user_profile_info_box {
    display: flex;
    justify-content: left;
    width: 450px;
}
.info_box_left_column,
.info_box_right_column {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin-left: 1rem;
}
.info_box_left_column {
    width: 200px;
    float: left;
}
.info_box_right_column {
    width: fit-content;
    float: right;
}

/* user_blog.html */
#user_blog_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 5%;
    border-bottom: 2px solid #afafaf;
}
#user_blog_header img {
    max-width: 100%;
    max-height: 100%;
}
#user_blog_header_background {
    width: 100%;
    height: auto;
}
#user_blog_header_info {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#user_blog_avatar {
    width: 150px;
    height: 150px;
    position: relative;
    top:-50px;
    margin-inline: 2rem;
}
.rounded_image_avatar {
    border-radius: 10%;
}
.rounded_image_background {
    border-radius: 0 0 10px 10px;
}
#user_title_text {
    float: left;
    padding: 0;
    margin-top: 1rem;
}
#user_blog_content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 5%;
}