{% extends "base.html" %}
{% load static %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<div id="index_box">
    <div id="index_content">
        <h2>In spotlight this week:</h2>
        <ul>
            <li><div id="news">
                    <img src="{% static './img/news_images/square-white.png' %}">
                    News #1
                </div>
            </li>
            <li><div id="news">
                    <img src="{% static './img/news_images/square-white.png' %}">
                    News #2
                </div>
            </li>
            <li><div id="news">
                <img src="{% static './img/news_images/square-white.png' %}">
                News #3
                </div>
            </li>
        </ul>
        <h2>Latest news:</h2>
        <ul>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #1</li>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #2</li>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #3</li>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #4</li>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #5</li>
            <li><img src="{% static './img/news_images/square-white.png' %}"> News #6</li>
        </ul>
    </div>
    <div id="index_sidebar">
        <h2>Top Posts</h2>
        <div id="sidebar_content">
            <ul>
                <li><img src="{% static './img/news_images/square-white.png' %}"> News #1</li>
                <li><img src="{% static './img/news_images/square-white.png' %}"> News #2</li>
                <li><img src="{% static './img/news_images/square-white.png' %}"> News #3</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}