{% extends "base.html" %}

{% load static %}

{% block title %}User profile{% endblock %}

{% block content %}
<div id="user_profile_page">
    <div id="user_profile_avatar">
        <img src="{% static './img/user_blog/avatar/user_avatar.jpg' %}" alt="Avatar" class="rounded-image">
        <!-- <button id="user_profile_change_avatar">
            Change avatar
        </button>
        -->
    </div>
    <div id="user_profile_text">
        <h1>{{ user.username }} profile: </h1>
        <h3>Bio</h3>
        <div class="user_profile_info_box">
            <div class="info_box_left_column">
                <p>First name: </p>
                <p>Last name: </p>
                <p>Description :</p>
            </div>
            <div class="info_box_right_column">
                {% if user.first_name|length %}
                    <p>{{ user.first_name }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
                <!-- -->
                {% if user.last_name|length %}
                    <p>{{ user.last_name }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
                <!-- -->
                {% if user.bio|length %}
                    <p>{{ user.bio }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
            </div>
        </div>
        <h3>Contact information</h3>
        <div class="user_profile_info_box">
            <div class="info_box_left_column">
                <p>E-mail: </p>
                <p>Phone: </p>
            </div>
            <div class="info_box_right_column">
                {% if user.email|length %}
                    <p>{{ user.email }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
                <!-- -->
                {% if user.phone|length %}
                    <p>{{ user.phone }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
            </div>
        </div>
        <h3>Additional information</h3>
        <div class="user_profile_info_box">
            <div class="info_box_left_column">
                <p>Birthday: </p>
                <p>Gender: </p>
                <p>Git-hub: </p>
            </div>
            <div class="info_box_right_column">
                {% if user.birthday|length %}
                    <p>{{ user.birthday }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
                <!-- -->
                <p>{{ user.gender }}</p>
                <!-- -->
                {% if user.github|length %}
                    <p>{{ user.github }}</p>
                {% else %}
                    <p>---</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}