{% extends "base.html" %}
{% load static %}
{% block title %}Log-in to Technoforge{% endblock %}
{% block content %}
<div id="login_main_page">
    <div id="login_main_form">
        <h1>Log-in to Technoforge</h1>
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again.
            </p>
        {% else %}
        <p>
            Please, use the following form to log-in. If you don't have an account 
            <a href="{% url "register" %}">register here</a>
        </p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/> {% comment %} next - url adress for redirection afrer log-in {% endcomment %}
                <p><input type="submit" value="Log-in"></p>
            </form>
            <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
        </div>
    </div>
</div>
<div id="something"></div>
{% endblock %}