{% extends "base.html" %}
{% block title %}Post List from {{ block.super }}{% endblock %}
{% block content %}
    <h1>Posts from {{ block.super }}</h1>
    <ul>
        {% for post in posts %}
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>Published {{ post.created }} by {{ post.user }}</p>
            {{ post.content|truncatewords:30|linebreaks }}
        {% endfor %}
    </ul>
    {% include "pagination.html" with page=page_obj %}
{% endblock %}